@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --cor-back: #05081A;        
    --cor-main: #0A0F2E;          
    --cor-header-sidebar: #0c102c;

    --card-bg: rgba(15, 20, 58, 0.7);
    --card-border: rgba(79, 140, 255, 0.15);

    --card-glow: 0 0 20px rgba(79, 140, 255, 0.15);
    --card-hover: 0 0 25px rgba(166, 107, 255, 0.25);
    

    --font-principal:  "Inter", sans-serif;
    --font-titulo:  "Poppins", sans-serif;
    --font-valores: "JetBrains Mono", monospace;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: var(--cor-back);
    font-family: var(--font-principal);
    display: grid;
    grid-template-areas: 
    "header"
    "main";
    grid-template-columns: 1fr;
}

header{
    grid-area: header;
    background-color: var(--cor-header-sidebar);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 40px 0px;
}

#logo{
   width: 100%;
   max-width: 200px; 
}

#lista-nav{
    display: flex;
    flex-flow: column nowrap;
    list-style-type: none;
    gap: 20px;
}

#lista-nav li{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1A2258;
    border-radius: 10px;
    padding: 8px;
}

#lista-nav a{
    padding: 5px;
    text-decoration: none;
    color: azure;
    font-size: 1.4rem;
}

#main{
    margin: 20px 20px;
    grid-area: main;
    display: grid;
    justify-items: center;
    row-gap: 30px;
    grid-template-columns: 1fr minmax(0, 900px) 1fr;
}

#main section{
    grid-column: 2 / 3;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    border-radius: 10px;
    max-width: 400px;
    background-color: #0C1033;
    padding: 20px;
    backdrop-filter: blur(10px);
}

/* seção grafico */
#tec-dia h2{
    color: white;
    font-family: var(--font-titulo);
    text-align: center;
    margin-bottom: 10px;
}

.dados{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#grafico-1{
    background: conic-gradient(
        #4F8CFF 0% 30%,
        #00F5FF 30% 90%,
        #FF4D9D 90% 100%
    );
    height: 150px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    margin-bottom: 10px;
}

#grafico-1::after{
    content: "";
    background-color: #05081A;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    height: 90px;
    width: 120px;
}


#lista-tecnologias{
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 10px;
}

#lista-tecnologias li{
    display: flex;
    align-items: center;
    color: white;
    text-align: center;
}

#lista-tecnologias p{
    margin-right: 20px;
}

#lista-tecnologias strong{
    font-family: var(--font-valores);
}

.legend{
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 2px;
}

#html{
    background-color: #4F8CFF;
}

#css{
    background-color: #00F5FF;
}

#js{
    background-color: #FF4D9D;
}

/* seção da tabela */

.container-tabela{
    overflow-x: auto;
}
#tabela  table{
    border-collapse: collapse;
    text-align: center;
}

#tabela  caption{
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 24px;
}

#tabela table thead{
    background-color: #0d1b2a;
    color: #00e5ff;
}

#tabela table tbody > tr:nth-child(even){
    background-color: #1a1f2e;
}

#tabela table tbody > tr:nth-child(odd){
    background-color: #141824;
}

#tabela  table  th,td{
    border: 1px solid #2a2f3e;
    padding: 10px;
}

#tabela table td{
    color: #ffffff;
    opacity: 0.85
}


